
.firstsq{
    height:128px;
    width: 128px;
    background-color: blue;
    display: inline-block;
}



.firsttr {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 65px solid transparent;
    border-left: 128px solid red;
    border-bottom: 65px solid transparent;
    left: -4px;
  }
.secondsq{
    position: relative;
    margin-top: 8px;
    height:128px;
    width: 128px;
    border: 1px solid rgb(6, 252, 6);
}

.small-triangle-1{
        position: absolute;
        width: 0;
        height: 0;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-top: 50px solid palevioletred;
        top: 128px;
        
}

.small-triangle-2{
    position: absolute;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid palevioletred;
    left:78px;
    top:128px;
}
