button{
    background-color: #6200ee;
    border-radius: 2px;
    border: thin;
    height: 2em;
    padding:2px 8px;
    color: white;
    box-shadow: 2px 2px 2px -1px black;
}

button:hover{
    cursor: pointer;
}

button:active{
    background-color: gray;
}

