.parent{
    background-color: black;
    height: 400px;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1em;
grid-auto-rows: 30px 50px;
}

.child{
    background-color: aqua;
}

.header{
    grid-column: 1 /span 6;
    /* grid-row-start: 1;
    grid-row-end: 3; */
    
}

.footer{
    /* grid-column: 1 /span 3; */
    grid-column-start: 1;
    grid-column-end: 3;


}