html {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,rgb(247, 138, 5), rgb(245, 62, 113), rgb(162, 27, 27));
}

header{
    background-color:black;
    color: cadetblue;
}

Body{
    height:80%;
    width:80%;
    margin:auto;

}
.blockdisplay{
    display:block;
    width: 95%;
}

form{
    background-color:rgb(51, 6, 82);
    color: #fff; 
    padding: 25px;

}

.marginup{
    margin-top: 8px;
}

input[type="submit"]{
    width: 50%;
    background-color: rgb(204, 249, 173);
    border-radius: 10px;
}
#submit{
    height: 1.5rem;
    margin-top:16px ;
    display: flex;
    justify-content :center;
}

fieldset{
    border-left: none;
    border-right: none;
    border-bottom: none;
    /* border-bottom: 1px double yellowgreen ; */
    padding: 2px 0;
    margin: 4px 0;
}

.linegap{
    border: 1px dotted yellowgreen;
    margin-top: 8px;
}