.body{
    background-color: black;
}

.parent{
    height: 300px;
    margin: 1em;
    display: flex;
    background-color: red;
}

.span1{
    margin: 0.25em;
    height: 32px;
    width: 64px;
    background-color: yellow;
}

.flexdiection-row{
    flex-direction: row;
}

.justifycontent-center{
    justify-content: center;
}

.justifycontent-flex-end{
    justify-content: flex-end;
}

.justifycontent-flex-start{
    justify-content: flex-start;
}

.justifycontent-stretch{
    justify-content: stretch;
}

.justifycontent-space-around{
    justify-content: space-around;
}

.justifycontent-space-evenly{
    justify-content: space-evenly;
}

.justifycontent-space-between{
    justify-content: space-between;
}

.flexdiection-coloum{
    flex-direction: column;
}

.alignitems-center{
    align-items: center;
}

.alignitems-flex-end{
    align-items: flex-end;
}

.alignitems-flex-start{
    align-items: flex-start;
}

.alignitems-stretch{
    align-items: stretch;
}

/* .alignitems-space-around{
    align-items: space-around;
} 

.alignitems-space-evenly{
    align-items: space-evenly;
}

.alignitems-space-between{
    align-items: space-between;
} */