#image {
  max-width: 300px;
  height: 600px;
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

.bold {
  font-weight: bold;
}

.block {
  display: block;
}

html {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: rgb(202, 193, 193);
  font-size: large;
}

body {
  position: absolute;
  padding: 16px 0;
  margin: auto 0;

}

#title {
  display: flex;
  justify-content: center;
  margin: auto;
}


#img-div {
  background-color: white;
  width: 95%;
  margin: 0 auto;
}

footer p a:hover {
  background-color: rgb(10, 159, 179);
}

.center {
  display: flex;
  justify-content: center;
}

.tribute-info ul li{
margin:20px 0;
}

span[class~=last-para]{
  margin-top: 64px;
}