.container{
    display: grid;
    background-color: red;
    height: 400px;
    justify-content: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 4fr 1fr;
}

.child{
    margin: 0.5em;
    /* width: 9px; */
    background-color: aquamarine;
}

.header{
    color: white;
    background-color: black;
    grid-column: 1 /span 4;
}

.footer{
    color: white;
    background-color: black;
    grid-column: 1 /span 4;
}

/* .item1{
    justify-self: center;
} */