.parent {
    height: auto;
    background-color: burlywood;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 3fr 3fr;
    padding: 0.2em;
    /* row-gap: 1em;
    column-gap: 1em; */
}

.inner {
    margin: 0.2em;
    padding: 0.1em;
}

.curve {
    border-radius: 8px;
}

.header {
    grid-column: 1 /span 3;
    background-color: black;
    /* margin: 0.2em; */
    color: aliceblue;
    display: flex;
    /* padding: 0.3em; */
    font-size: 2em;
}


/* .dropdown{
    background-color: aqua;
    border-radius: 2em;
    height: 32px;
} */
.name{
    flex-grow: 1;
}

h3{
    text-align: center;
}

.about {
    grid-row: 2 /span 2;
    background-color: blueviolet;
    /* margin: 0.2em; */
    display: grid;
    grid-template-rows: 1fr 6fr;
}

.inner-child1 {
    background-color: yellow;
}

.inner-child2 {
    background-color: crimson;

}

.education {
    grid-column: 2 /span 2;
    background-color: blueviolet;
    /* margin: 0.2em; */
    display: grid; 
    grid-template-rows: 2fr 5fr;
}

.hobbies {
    background-color: blueviolet;
    /* margin: 0.2em; */
    display: grid;
    grid-template-rows: 1fr 3fr;
}

table{
    width: 100%;
    height: 100%;
}

td,th,tr{
    text-align: center;
}

.menu:hover {
    background-color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {display: block;}

  .dropdown {
    position: relative;
    display: inline-block;
  }

/* .flexbox{
    display: flex;
} */

